#error-box.error {
    background-color: #f36c72;
}
#error-box.success {
    background-color: #8eca6f;
}
#error-box {
    color: white;
    padding: 5px;
    margin-bottom: 15px;
}
    #error-box table {
        border: 1px solid white;
        padding: 0;
    }
        #error-box table td {
            border: 0;
            padding: 2px 5px;
        }
        #error-box table td button[name=close] {
            border: 0;
            cursor: pointer;
            background-color: inherit;
        }